*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
.logo{
    font-size: 30px;
    & a{
        color: $mainColor;
        text-decoration: none;

    }
}

.App{
    background-color: $mainBG;
}

.BtnLogin{
    border-radius: 4px;
    padding: 0.5rem 1rem;
    background: linear-gradient(#9fbf00, #80ab00);
    border:  none;
    cursor: pointer;
    font-weight: bold;
    color:White;
}
.btn{
    padding: .5rem 1rem ;
    &:hover{
        cursor: pointer;
    }
    
}

.discount{
    background-color: purple;
    padding: 0.5rem ;
    border-radius: 5px;
}

.flex{
    display: flex;
    gap: 1rem;
}
.tags{
    display: flex;
    gap: .5rem;
}
.tag{
    background-color: rgba(128, 128, 128, 0.534);
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    width:fit-content;
    padding: 0.5rem;
}