// $backgroundColor: linear-gradient(0deg,#000000c0 0,rgba(63, 10, 160, 0.6));
$backgroundColor: linear-gradient(0deg,#2a2626ef 0,rgba(42,38,38,0.8));
// $backgroundColor:rgba(26,26,26,0.9);
$hovers:rgba(82, 82, 82, 0.9);
$mainColor:white;
$boxshadow:  rgba(0,0,0,0.65);
$mainBG:rgba(222,222,222,1);
$minHeight:calc(100vh - 73px);